/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 100px;
  background: $nav-background;
  -webkit-app-region: drag;

  a {
    -webkit-app-region: no-drag;
    display: inline-block;
    color: #666;
    padding: 8px 10px;
    vertical-align: middle;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
}
